
<section class="py-5">
	<div class="row">
      <div class="col-md-4 d-flex">
        <img class="mr-3 rounded-circle" src="../assets/images/mask.jpg" width="70" height="70" alt="">
        <div>
          <h3 class="h6" i18n>Diagnostic du virus</h3>
          <p i18n>Les infections à coronavirus sont diagnostiquées par les fournisseurs de soins de santé en fonction des symptômes présentés et sont confirmées au moyen d'analyses en laboratoire..</p>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <img class="mr-3 rounded-circle" src="../assets/images/mark.jpg" width="70" height="70" alt="">
        <div>
          <h3 class="h6" i18n>s'il vous êtes malade</h3>
          <p i18n>Si vous avez des symptômes de la COVID-19 : 1. restez chez vous pour une période de 14 jours afin d'éviter d'infecter d'autres personnes</p>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <img class="mr-3 rounded-circle" src="../assets/images/coronavirus.jpg" width="70" height="70" alt="">
        <div>
          <h3 class="h6" i18n>symptôme</h3>
          <p i18n>Les personnes infectées par la COVID-19 peuvent n'avoir que peu ou pas de symptômes. Vous ne savez peut-être pas que vous avez des symptômes de la COVID-19 car ils peuvent s'apparenter à ceux d'un rhume ou d'une grippe</p>
        </div>
      </div>
    </div>
  <div class="container">
    <h2 class="mb-4 text-center" i18n>Vous rendez compte</h2>
    <div class="embed-responsive embed-responsive-16by9 mb-5">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BtN-goy9VOY" allowfullscreen=""></iframe>
    </div>
  </div>
</section>