<div class="contact-form" id="contact">
	<div class="container">
        <form [formGroup]="loginForm">
            <div class="col-lg-8 col-md-8 col-sm-12 right">
            <div class="form-group">
              <label for="nom" i18n>Nom</label>
              <input class="form-control" type="text"  placeholder="nom" formControlName="nom">
              <!--
              <span class="error" *ngIf="text.invalid">
        le non est requis
      </span>
    -->
            </div>
          
            <div class="form-group">
              <label for="prenom" i18n>prenom</label>
              <input class="form-control form-control-lg" type="text" placeholder="prenom" formControlName="prenom" ></div>
          
            <div class="form-group">
              <label for="" i18n>numero de carte</label>
              <input class="form-control form-control-lg" type="number" formControlName="numeroDeCarte"  placeholder="numero de carte"></div>
          
            <div class="form-group">
              <label for="telephone" i18n>telephone</label>
              <input class="form-control form-control-lg" type="number" formControlName="telephone" placeholder="telephone"></div>
          
            <div class="form-group">
              <label for="email" i18n>email</label>
              <input class="form-control form-control-lg" type="email" formControlName="email" placeholder="email"></div>
          
            <div class="form-group bmd-form-group">
              <label for="image" class="bmd-label-static" i18n>Mettre ta photo</label>
              <input class="form-control form-control-lg" type="File" name="image" accept="image/*">
            </div>
          
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="secteur" value="option 1" checked="">
                <label class="form-check-label" for="radio1" i18n>secteur residentiel</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="secteur" value="option 2">
                <label class="form-check-label" for="radio2" i18n>secteur non residentiel</label>
              </div>
              
            </div>
          
          <div>

             <div>
                 <h4 i18n>préférence de communication</h4>
             </div>   
            <div class="form-group form-check">
              <input class="form-check-input" type="checkbox" formControlName="communication" value="courriel">
              <label class="form-check-label" for="courriel" i18n>Courriel</label>
            </div>
            
            <div class="form-group form-check">
              <input class="form-check-input" type="checkbox" formControlName="communication" value="telephone" >
              <label class="form-check-label" for="tephone" i18n>telephone</label>
            </div>
            <div style="display: none;" class="err" class="text-danger" i18n>Selectionne au moin une </div>
            
            <button class="btn btn-primary" type="submit" i18n>Submit</button>
            </div>
        </div>
          </form>
	</div>
</div>



<div *ngIf="affiche">
	<p>
	nom: {{loginForm.get("nom").value}}
    </p>
    <p>
	prenom:{{loginForm.get("prenom").value}}
    </p>
    <p>
	email: {{loginForm.get("email").value}}
    </p>
    <p>
	numeroDeCarte: {{loginForm.get("numeroDeCarte").value}}
	</p>
	<p>
	telephone: {{loginForm.get("telephone").value}}
	</p>
	<p>
	secteur: {{loginForm.get("secteur").value}}
	</p>
	<p>
	communication: {{loginForm.get("communication").value}}
    </p>
<div>