<section class="py-5">
  <div class="container">
    <div class="carousel slide" id="gallery-06" data-ride="carousel">
      <ol class="carousel-indicators">
        <li class="" data-target="#gallery-06" data-slide-to="0"></li>
        <li data-target="#gallery-06" data-slide-to="1" class="active"></li>
        <li data-target="#gallery-06" data-slide-to="2"></li>
        <li data-target="#gallery-06" data-slide-to="3"></li>
        <li data-target="#gallery-06" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item bg-dark">
          <div>
            <img class="img-fluid" src="../assets/images/child.jpg" alt="">
            <div class="carousel-caption d-none d-md-block">
              <a routerLink="/maladie" i18n>Maladie</a>
              <p i18n>cela devient de plus en plus grave</p>
            </div>
          </div>
        </div>
        <div class="carousel-item bg-dark active">
          <div>
            <img class="img-fluid" src="./assets/images/coronavirus.jpg" alt="">
            <div class="carousel-caption d-none d-md-block">
              <a routerLink="/vaccin" i18n>Vaccin</a>
              <p i18n>la campagne de vacination est en vigueur</p>
            </div>
          </div>
        </div>
        <div class="carousel-item bg-dark">
          <div>
            <img class="img-fluid" src="./assets/images/couple.jpg" alt="">
            <div class="carousel-caption d-none d-md-block">
              <a routerLink="/prevention" i18n>prevention</a>
              <p i18n>Mieux prevenir que guérir</p>
            </div>
          </div>
        </div>

          <div class="carousel-item bg-dark">
          <div>
            <img class="img-fluid" src="./assets/images/covid.jpg" alt="">
            <div class="carousel-caption d-none d-md-block">
              <a routerLink="/test" i18n>Test</a>
              <p i18n>faire des tests vous rassure</p>
            </div>
          </div>
        </div>

         <div class="carousel-item bg-dark">
          <div>
            <img class="img-fluid" src="./assets/images/mark.jpg" alt="">
            <div class="carousel-caption d-none d-md-block">
              <a href="https://www.who.int/fr" target="_blank" i18n>OMS</a>
              <p i18n>l'organissation mondail de la santé</p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#gallery-06" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only" i18n>Previous</span></a><a class="carousel-control-next" href="#gallery-06" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only" i18n>Previous</span></a>
    </div>
  </div>